<h1>Your friend list</h1>

<%friends.forEach(function(friend){%>
    <li><%=friend%></li>
<%})%>

<form action="addfriend" method="post">
    <input type="text" name="newfriend">
    <button>add</button>   c  c                                                                                                                                                                                                        
</form>