<!DOCTYPE html>
<html>

<head>
    <title>Circles</title>

    <script type="text/javascript" src="paper-full.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/paperscript" canvas="myCanvas">

    </script>
    <!-- The powerful concept of library - You don't need to know how it works! -->
</head>

<body>
    <canvas id="myCanvas" resize></canvas>
</body>

</html>