<form action="/journals" method="post">
    <div>
        <input type="text" name="journal[title]" placeholder="title">
    </div>
    <div>
        <input type="text" name="journal[image]" placeholder="url">
    </div>
    <div>
        <textarea name="journal[body]"></textarea>
    </div>
    <input type="submit">    
</form>
