<html>
<head>
    <title>Demo App</title>
    <link rel="stylesheet" href="/app.css">
<!--
그냥 app.css로 하면 안된다.
반드시 /app.css를 해야한다.
/ 는 root를 의미한다.
app.use(express.static("public"));
  -->
</head>
    <body>