<% include partials/header %>

<h1>Hi This Edit</h1>

<form action="/index/<%=journal._id%>?_method=PUT" method="post">
    <input type="text" name="journal[title]" placeholder="title" value="<%=journal.title%>">
    <br>
    <input type="text" name="journal[image]" placeholder="url" value="<%=journal.image%>">
    <br>
    <textarea name="journal[body]" required><%=journal.body%></textarea>
    <input type="submit">
</form> 


<% include partials/footer %>