body {
	font-family: 'Roboto', sans-serif;
	background: #43cea2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
	width: 360px;
	margin: 150px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	background: ;#f7f7f7
}

.fa-plus {
	float: right;
}

h1 {
	padding: 10px 20px;
	margin: 0;
	background-color: #2980b9;
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	height: 30px;
	line-height: 30px;
	color: #777;
	background: white;
}

li:nth-child(2n){
	background: #f7f7f7;
}

input[type='text']{
	width: 100%;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	font-size: 18px;
	color: #2980b9;
}

input:focus {
	outline: none;
	background: white;
	border: 3px solid #2980b9;
}

span {
	width: 0;
	height: 100%;
	text-align: center;
	background: red;
	margin-right: 20px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 5;
}

.completed {
	text-decoration: line-through;
	color: gray;
}
