<h1>Add Page</h1>

<form action="/index" method="post">
    <div>
        <input type="text" name="journal[title]" placeholder="title">
    </div>
    <div>
        <input type="text" name="journal[image]" placeholder="image url">
    </div>
    <div>
        <textarea name="journal[body]" placeholder="describe your day"></textarea>    
    </div>
    <button>Submit</button>
</form>