<h1>Add Page</h1>

<form action="/journal" method="POST">
    <div>
        <input type="text" name="journal[title]" placeholder="title">
    </div>
    <div>
        <input type="text" name="journal[image]" placeholder="image">
    </div>
    <div>
        <textarea name="journal[body]"></textarea>
    </div>
    <button>submit</button>
</form>