/*Element*/
li {

}

/*class*/
.hello {

}

/*id*/
#name {

}

/*Star*/
* {
	border: 1px solid lightgrey;
}

/*Descendant Selector*/
li a {
	color: red;
}

/*Adjacent Selector*/
h4 + ul {
	border: 4px solid red;
}/* 굳이 해석하자면 h4 이후의 ul 태그들*/

/*Attribute Selector*/
a[href="https://www.google.com"]{
	background: blue;
}
input[type="checkbox"]{
	background: blue;
}/*처음보는 attribute다.*/

/*nth of type*/
ul:nth-of-type(3){
	background: purple;
}
li:nth-of-type(2){
	background: green;
}