<% include ../partials/header %>

<form action="/gallery" method="POST">
    <input type="text" name="photo[title]" placeholder="title">    
    <input type="text" name="photo[image]" placeholder="image">  
    <button>Submit</button>  
</form>

<% include ../partials/footer %>