<!--3-passport-->
<h1>Login</h1>

<!--3-passport-->
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" value="password">
    <button>Login</button>
</form>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In!</a></li>
<li><a href="/logout">Log Out!</a></li>